Imbalanced Dataset:

A Dataset with an unequal class distribution

In [8]:
import pandas as pd
import numpy as np

In [5]:
credit = pd.read_csv('../../Datasets/credit_data.csv')

In [6]:
credit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
credit['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

This is Highly Imbalanced DataSet (Too much difference in numbers)

0 ---> Legal Transaction

1 ---> Illegal Transaction

In [9]:
#separating the legit and fraudlent trransactions
legit = credit[credit.Class == 0]
fraud = credit[credit.Class == 1]

In [12]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

Under-Sampling

Build a sample dataset containing similar distribution of legit and fraudlent transaction

no of fraudlent transactions --> 492

In [13]:
legit_sample = legit.sample(n=492)

In [14]:
print(legit_sample.shape)

(492, 31)

Now Both are same number

So we concatenate the two dataframes

In [19]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [20]:
new_dataset.shape

(984, 31)

In [21]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
15959,27398.0,-1.023269,-0.522595,2.888844,-1.661507,-1.376683,-0.111247,-0.060730,0.094044,-0.879950,...,-0.070637,0.197145,0.065967,0.548914,-0.013781,0.997490,0.043219,-0.089530,125.90,0
18883,29843.0,-2.271452,0.924164,1.040438,-2.249283,0.058801,0.141962,0.602367,-0.112099,0.152141,...,-0.091771,0.665940,-0.502760,-0.280119,0.882782,-0.123352,0.469236,0.114910,40.00,0
179269,123995.0,1.919476,0.497057,-0.712459,3.794439,0.643209,0.458497,0.108544,-0.019757,-0.739519,...,0.075669,0.401240,0.099901,0.616029,0.175703,0.071768,-0.024264,-0.043820,7.56,0
266523,162369.0,1.789282,-0.449092,-1.382233,1.349768,0.117341,-0.138541,0.117520,-0.031563,0.617811,...,0.243424,0.714111,-0.190196,-0.550093,0.383608,-0.364879,-0.012849,-0.055140,106.70,0
31411,36351.0,1.235835,-0.000615,0.458298,0.043477,-0.645670,-0.878146,-0.141846,-0.100228,-0.056019,...,0.127336,0.385838,-0.058560,0.637371,0.349443,1.084214,-0.084429,-0.006758,3.37,0

In [22]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [23]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64